@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');
body {
    font-family: 'Noto Sans JP', sans-serif;
}
.recharts-responsive-container {
    min-height: 200px;
}
